/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}


/**************
Your Formatting
***************/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}


#yourgrid{
   display: grid;
   grid-template-rows: 75px 30px 1fr 50px;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "h h"
   "ar n"
   "ar as"
   "f f";
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}

header{
    grid-area: h;
    background-color: lightpink;
    display: flex;
    justify-content: center;
}

article{
    grid-area: ar;
    background-color: lightcyan;
}

nav{
    grid-area: n;
    background-color: lavenderblush;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submenu{
    display: none;
    position: absolute;
}

aside{
    grid-area: as;
    background-color: lightblue;
}

footer{
    grid-area: f;
    background-color: lightpink;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {

#yourgrid{
    grid-template-rows: 75px 30px auto auto 30px;
   grid-template-columns: 1fr;
   grid-template-areas: "h"
   "n"
   "ar"
   "as"
   "f";
}

}