/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav,
aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/


/*menu titles*/

.menuitem {
    background-color: white;
    margin: 0;
    border: solid 1px #b5e7a0;
}


/*menu options*/

.submenu {
    /*    hide when page is loaded*/
    display: none;
    /*    no bullets*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


/*options in the menus*/

li {
    background-color: gainsboro;
    padding-left: .25rem;
}

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    margin: 0;
}

header,
footer {
    /* centers header and footer content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav,
aside {
    background-color: #b5e7a0;
    border: 1px dotted black;
}


/*****************
Grid Formatting  
*****************/


/*mobile*/

#wrapper {
    display: grid;
    height: 100vh;
    grid-template-areas: "header""sidenav""article""sidebar""footer";
    grid-template-rows: 1fr 2fr 10fr 2fr 1fr;
}

header {
    grid-area: header;
    height: 4rem;
}

nav {
    grid-area: sidenav;
}

article {
    grid-area: article;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    height: 3rem;
}


/* desktop*/

@media screen and (min-width: 760px) {
    #wrapper {
        grid-template-areas: "header header header"/*  */
        "sidebar article sidenav"/*  */
        "footer footer footer";
        /* */
        grid-template-rows: 1fr 10fr 1fr;
        /*  */
        grid-template-columns: 33vw 33vw 200px;
        /*  */
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
    }
}
