
header{
font-family: 'Open Sans', sans-serif;
padding-left: 2%;
font-size: .8em;
}

h3{
    float:right;
    margin-top: 0;
    padding-top:0;
}


.tab {
    overflow: hidden;
    background-color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    /* background-color: inherit; */
    float: rightt;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {

}

/* Create an active/current tablink class */
.tab button.active {
    
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/**************
Grid Formatting
**************/

main{
    /* creates grid columns and resizes images to fill column */
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(530px, 1fr));
    grid-gap:.1rem;
    /* provides space on either side */
    max-width: 95vw;
    margin: .5rem auto;
}

img{
    /* scales properly/proportionately in it's container */
    display:block;
    width: 100%;
    border-radius: 2px;
}

@supports (display: grid) {
    .warning {
        display: none;
    }
}