

@page {
    size: A4;
  }

header{
    font-family: 'Open Sans', sans-serif;
    margin: 3%;
    padding-top: 3px;
}

.name{
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-display: bold;
    color: #333;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Open Sans', sans-serif;
    float:right;
    color: #333;
    margin-right: 0px;
    text-align: center;
    padding: 0px 10px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fff;
    color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
    font-display: bold;
    color: white;
}

main{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding-top: 10px;
}

h1{
    font-size: 2em;
    color: #333333;
    padding-bottom: 0;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bolder;
}

h2{
    color: #6d6e71;
    margin:0;
    padding-bottom: 0;
    font-size: 1em;

    
}

h3{
    font-weight: bold;
    margin-top: 20px;
    color: #d8acab;
    font-size: .5em;

}

h4{
    color: #333333;
    font-size: .6em;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    color: #333333;
    font-size: .5em;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}


.left{
    float: left;
    margin-left: 50px;
}

.right{
    float: right;
    margin-right: 55%;
}