/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}


/**************
Your Formatting
***************/

#yourgrid{
    display: grid;
    grid-template-rows: 70px 30px 1fr 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h h"
    "ar n"
    "ar as"
    "f f"; 
    width: 90vw;
    max-width: 1000px;
    justify-content: center;
    min-height: 100%;

}

header{
    grid-area: h;
    background-color: lightpink;
    display: flex;
    justify-content: center;
}

article{
    grid-area: ar;
    background-color: lightcyan;
}

nav{
    grid-area: n;
    /* must have display flex for justify and align content to work!!!! */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    /* to style menu on the side */
    display: grid;
    grid-template-columns: 100px;
    min-width: 120px;
    min-height: 200px;
    max-height: 90vh;
    overflow: scroll;
    border: 1px solid purple;
    margin-bottom: 2em;
    background-color: lavender;
    position: fixed;
    left: -100px;
    z-index: 2;
}

aside{
    grid-area: as;
    background-color: lavenderblush;
}

footer{
    grid-area: f;
    background-color: lightpink;
    display: flex;
    justify-content: center;
}

.mainmenu {
    text-align: center;
    width: 120px;
    background-color: #ccc;
    margin: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    
}

.submenu {
    width: 120px;
    text-align: center;
    display: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #86af49;
    position: absolute;

}


/******************
Media Query-Mobile
*******************/

@media screen and (max-width: 600px) {

    #yourgrid{
        grid-template-rows: 75px 30px auto auto 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "h"
        "n"
        "ar"
        "as"
        "f";
        width: 100%;

    }

}
